<!DOCTYPE html>
<html lang="en">
 
<head>

    <title>Cow Face ID Detection App</title>

    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
 
<body>
    <div class="container">
        <!--navbar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Cow Face ID Detection</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <!--
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="logout">Logout</a>
                  </li>
                  <li class="navbar-nav mr-auto">
                    <a class="nav-link" href="wishlist">WishList</a>
                  </li>
                </ul>
            -->
            </div>
        </nav>

        <section>
            <div class="jumbotron">
            <form class="form-horizontal" method="POST" action="/addcow" enctype = "multipart/form-data">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Upload a Cow photo and its ID </legend>
 
                    <!-- Text input
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Title</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="Title" class="form-control input-md">
                        </div>
                    </div>
                -->
                <div class="col-md-4">
                    <input id="cow_id" name="cow_id" type="text" placeholder="ID" class="form-control input-md">
                </div>
                    <!-- Textarea -->
                    <!--
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Post</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                    -->
                <br>
                <div class="col-md-4">
                    <input id="file-picker" type="file" name="cow_image" accept="image/*" multiple>
                </div>
                    <div class="form-group" id="msg"></div>
                    
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="upload-button" name="singlebutton" class="btn btn-primary" type="submit" value="Upload" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
            </div>
        </section>
        </div>
 </body>
 <script>
        $("#file-picker").change(function(){
            var input = document.getElementById('file-picker');
            for (var i=0; i<input.files.length; i++)
            {
            //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
                if ((ext == 'jpg') || (ext == 'png'))
                {
                    $("#msg").text("Files are supported")
                }
                else
                {
                    $("#msg").text("Files are NOT supported")
                    document.getElementById("file-picker").value ="";
                }
            }
        } );
    </script>
</html>
