<!DOCTYPE html>
<html lang="en">
 
<head>

    <title>Cow Face ID Detection App</title>

    <link rel="stylesheet" href="../static/css/signup.css">
	<script src="../static/js/opencv.js"></script>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script>
        function processImg(){
            console.log('hello');
		let src = cv.imread('my-canvas');
		let dst = new cv.Mat();
		let dsize = new cv.Size(56, 56);
		// You can try more different parameters
		cv.resize(src, dst, dsize, 0, 0, cv.INTER_AREA);
		// extract channels
		let rgbaPlanes = new cv.MatVector();
		// split the Mat
		cv.split(dst, rgbaPlanes);
		// get RED channel
		R = rgbaPlanes.get(0);
		G = rgbaPlanes.get(1);
		B = rgbaPlanes.get(2);
		document.getElementById('imgCSVData').value = R.data.toString() + ","+G.data.toString() + ","+B.data.toString();
        }
    </script>
</head>
 
<body>
    <div class="container">
        <!--navbar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Cow Face ID Detection</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <!--
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="logout">Logout</a>
                  </li>
                  <li class="navbar-nav mr-auto">
                    <a class="nav-link" href="wishlist">WishList</a>
                  </li>
                </ul>
            -->
            </div>
        </nav>

        <section>
            <div class="jumbotron">
            <form class="form-horizontal" method="POST" action="/addcow" enctype = "multipart/form-data">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Upload a Cow photo and its ID </legend>
 
                    <!-- Text input
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Title</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="Title" class="form-control input-md">
                        </div>
                    </div>
                -->
                <div class="col-md-4">
                    <input id="cow_id" name="cow_id" type="text" placeholder="ID" class="form-control input-md">
			<input id="imgCSVData" name= "imgCSVData" style="display:none"/>
                </div>
                    <!-- Textarea -->
                    <!--
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Post</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                    -->
                <br>
                <div class="col-md-4">
                    <canvas id="my-canvas" width="700" height="600">I am canvas</canvas>
                </div>
                    <div class="form-group" id="msg"></div>
                    
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="upload-button" name="singlebutton" class="btn btn-primary" type="submit" value="Upload" onsubmit="processImg()" onclick="processImg()"/>
                        </div>
                    </div>
 
                </fieldset>
            </form>
            </div>
        </section>
        </div>

 <script>
	var canvas = document.getElementById("my-canvas"),
	context = canvas.getContext("2d"),
	img = document.createElement("img"),
	mouseDown = false,
	brushColor = "rgb(0, 0, 0)",
	hasText = true,
	clearCanvas = function () {
		if (hasText) {
			context.clearRect(0, 0, canvas.width, canvas.height);
			hasText = false;
		}
	};
	context.font = "30px Georgia";
	context.fillText("Drop an image to continue", 240, 200);
	// Image for loading   
	img.addEventListener("load", function () {
		clearCanvas();
		context.drawImage(img, 0, 0);
	}, false);

	canvas.addEventListener("dragover", function (evt) {
	evt.preventDefault();
	}, false);
	 
	// Handle dropped image file - only Firefox and Google Chrome
	canvas.addEventListener("drop", function (evt) {
	var files = evt.dataTransfer.files;
	if (files.length > 0) {
	var file = files[0];
	if (typeof FileReader !== "undefined" && file.type.indexOf("image") != -1) {
	var reader = new FileReader();
	// Note: addEventListener doesn't work in Google Chrome for this event
	reader.onload = function (evt) {
	img.src = evt.target.result;
	};
	reader.readAsDataURL(file);
	}
	}
	evt.preventDefault();
	}, false);  
        
    </script>
 </body>

   
</html>
