<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cow Face ID Detection App</title>
    <link rel="stylesheet" href="../static/css/signup.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <h3 class="navbar-brand">Cow Face ID Detection</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignUp">SignUp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="showSignIn">SignIn</a>
                  </li>
                </ul>
            </div>
          -->
        </nav>
 
        <div class="jumbotron">
            <h1>Successfuly uploaded!</h1>
        </div>
 
 
 
        <footer class="footer">
        </footer>
 
    </div>
</body>
 
</html>